@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shift 4 Test Page</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>This is for Shift4 yo.</h2>

        <div id="i4goFrame" style="width: 500px;"></div> // specify width to keep content within it

    </div>

</div>